@charset "UTF-8";

@media all and (max-width: 480px){ 
	.popup-inner-container{
		width: 90%;
	}


	h1{
		font-size: 38px;
	} 


	.main-nav-ul{
		text-align: center;
		position: relative;
	}
	.main-nav-li a{
		font: 12px;
	}
	
	
	.forms{
		width: 100%;
	}
	.button{
		width: 100%;
	}
	.social-button{
		margin-bottom: 16px;
	}
	.password-link{
		margin-top: 16px;
	}
	
	
	.current-members-li{
		width: 50%;
	}
	

	.profile-left-container{
		display: block;
		width: 100%;
	}
	.profile-right-container{
		display: block;
		width: 100%;
	}
	.right-container-boxes{
		padding: 16px 0 0 0;
		width: 100%;
	}
}




@media all and (min-width: 481px) and (max-width: 768px){
	.close-popup{
		margin-left: 0;
	}


	.main-nav-ul{
		text-align: center;
		position: relative;
	}
	
	
	.forms{
		width: 75%;
	}
	.button{
		width: 100%;
	}
	.social-button{
		margin-bottom: 16px;
	}
	.password-link{
		margin-top: 16px;
	}
	
	
	.current-members-li{
		width: 25%;
	}


	.profile-left-container{
		width: 100%;
	}
	.profile-right-container{
		width: 100%;
	}
	.right-container-boxes{
		padding: 16px 16px 0 0;
	}
}




@media all and (min-width:769px) and (max-width:1024px){
	.forms{
		width: 65%;
	}

	
	.current-members-li{
		width: 20%;
	}


	.profile-left-container{
		width: 40%;
	}
	.profile-right-container{
		width: 60%;
	}
}




@media all and (min-width:1025px) and (max-width:1279px){
}




@media all and (min-width:1280px){   
}