@charset "UTF-8";

@media all and (max-width: 480px){ 
	h1{
		font-size: 38px;
	} 

	.links-nav-ul{
		text-align: center;
	}
	.forms{
		width: 100%;
	}
	
	.password-link{
		margin-top: 16px;
	}
	
	.button{
		width: 100%;
	}
	
	.current-members-li{
		width: 50%;
	}

	.profile-left-container{
		display: block;
		width: 100%;
	}

	.profile-right-container{
		display: block;
		width: 100%;
	}
	

	.right-container-boxes{
		padding: 16px 0 0 0;
		width: 100%;
	}
}




@media all and (min-width: 481px) and (max-width: 768px){ 
	.forms{
		width: 75%;
	}
	
	.password-link{
		margin-top: 16px;
	}
	
	.button{
		width: 100%;
	}
	
	.current-members-li{
		width: 33.33%;
	}

	.profile-left-container{
		width: 100%;
	}

	.profile-right-container{
		width: 100%;
	}

	.right-container-boxes{
		padding: 16px 16px 0 0;
	}
}




@media all and (min-width:769px) and (max-width:1024px){
	.forms{
		width: 65%;
	}
	
	.current-members-li{
		width: 20%;
	}

	.profile-left-container{
		width: 40%;
	}

	.profile-right-container{
		width: 60%;
	}
}




@media all and (min-width:1025px) and (max-width:1279px){
	
	.current-members-li{
		width: 20%;
	}
}




@media all and (min-width:1280px){   
}