<section ng-show="showPage" class="ng-view-section">

	<h1 class="center-text">Edit Profile</h1>
				
	<!-- CHANGE IMAGE FORM -->
	<form enctype="multipart/form-data" class="forms left-align-form" name="img_form" novalidate>
		<small class="success-messages" ng-show="successImgChange">&#x2713 {{ successImgChange }}</small>
		<small class="error-messages" ng-show="sameImgError">&#x2718 {{ sameImgError }}</small>
		<input class="form-input" type="file" name="img" required onchange="angular.element(this).scope().filesChanged(this)"/>
		<button class="button" type="submit" ng-click="editImg()" name="submit">UPDATE IMAGE</button>
	</form>
	
	<li ng-repeat="file in files">
		<img ng-src="{{$scope.user.imgURL}}"/>
	</li>
	
	
	<!-- CHANGE NAME FORM -->
	<form class="forms left-align-form" name="name_form" novalidate ng-submit="editName()">
		<small class="success-messages" ng-show="successFirstNameChange">&#x2713 {{successFirstNameChange }}</small>
		<small class="error-messages" ng-show="sameFirstNameError && !successFirstNameChange">&#x2718 {{ sameFirstNameError }}</small>
		<input class="form-input" type="text" name="firstName" placeholder="{{user.firstName}}" required autocomplete="off" ng-model="edit.firstName" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/"/>
			<div class="error-messages" ng-show="name_form.firstName.$dirty && name_form.firstName.$invalid && name_form.submitted">
				<small ng-show="name_form.firstName.$error.required">&#x2718 A first name is required</small>
				<small ng-show="name_form.firstName.$error.minlength">&#x2718 The first name min character length is 2</small>
				<small ng-show="name_form.firstName.$error.maxlength">&#x2718 The first name max character length is 20</small>
				<small ng-show="name_form.firstName.$error.pattern">&#x2718 Use only A-Za-z characters</small>
			</div>			
		<small class="success-messages" ng-show="successSurnameChange && !sameSurnameError">&#x2713 {{ successSurnameChange }}</small>
		<small class="error-messages" ng-show="sameSurnameError && !successSurnameChange">&#x2718 {{ sameSurnameError }}</small>
		<input class="form-input" type="text" name="surname" placeholder="{{user.surname}}" required autocomplete="off" ng-model="edit.surname" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/"/>
			<div class="error-messages" ng-show="name_form.surname.$dirty && name_form.surname.$invalid && name_form.submitted">
				<small ng-show="name_form.surname.$error.required">&#x2718 A surname is required</small>
				<small ng-show="name_form.surname.$error.minlength">&#x2718 The surname min character length is 2</small>
				<small ng-show="name_form.surname.$error.maxlength">&#x2718 The surname max character length is 20</small>
				<small ng-show="name_form.surname.$error.pattern">&#x2718 Use only A-Za-z characters</small>
			</div>
		<button class="button" type="submit" name="submit">UPDATE NAME</button>
	</form>
	
	<!-- CHANGE USERNAME FORM -->
	<form class="forms left-align-form" name="username_form" novalidate ng-submit="editUsername()">
		<small class="success-messages" ng-show="successUsernameChange">&#x2713 {{ successUsernameChange }}</small>
		<small class="error-messages" ng-show="sameUsernameError">&#x2718 {{ sameUsernameError }}</small>
		<input class="form-input" type="text" name="uname" placeholder="{{user.username}}" required autocomplete="off" ng-model="edit.username" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/"/>
			<div class="error-messages" ng-show="username_form.username.$dirty && username_form.username.$invalid && username_form.submitted">
				<small ng-show="username_form.username.$error.required">&#x2718 A Username is required</small>
				<small ng-show="username_form.username.$error.minlength">&#x2718 The Username min character length is 2</small>
				<small ng-show="username_form.username.$error.maxlength">&#x2718 The Username max character length is 20</small>
				<small ng-show="username_form.username.$error.pattern">&#x2718 Use only A-Z a-z characters & 0-9 numbers.</small>
			</div>
		<button class="button" type="submit" name="submit">UPDATE USERNAME</button>
	</form>
	
	<!-- CHANGE WEBSITE FORM -->
	<form class="forms left-align-form" name="website_form" novalidate ng-submit="editWebsite()">
		<small class="success-messages" ng-show="successWebsiteChange">&#x2713 {{ successWebsiteChange }}</small>
		<small class="error-messages" ng-show="sameWebsiteError">&#x2718 {{ sameWebsiteError }}</small>
		<input class="form-input" type="url" name="website" placeholder="{{user.web}}" required autocomplete="off" ng-model="edit.website" ng-minlength=2 ng-maxlength=200/>
			<div class="error-messages" ng-show="website_form.website.$dirty && website_form.website.$invalid && website_form.submitted">
				<small ng-show="website_form.website.$error.required">&#x2718 A Website is required</small>
				<small ng-show="website_form.website.$error.minlength">&#x2718 The Website min character length is 2</small>
				<small ng-show="website_form.website.$error.maxlength">&#x2718 The Website max character length is 200</small>
				<small ng-show="website_form.website.$error.url">&#x2718 That's not a URL</small>
			</div>
		<button class="button" type="submit" name="submit">UPDATE WEBSITE</button>
	</form>
	
</section>
