<section class="ng-view-section">
	
	<!-- PAGE HEADING TEXT -->
	<h1 class="center-text">Forgot Password</h1>
	
	<!-- LOADING ICON -->
	<div class="loader" ng-show="loading">
		<div class="progress"></div>
		<div class="loading">Loading</div>
	</div>
	
	<!-- PASSWORD EMAIL FORM -->
	<form class="forms" name="email_form" novalidate ng-submit="passwordEmailSubmit()">
		<!-- SUCCESS MESSAGES -->
		<small class="success-messages" ng-show="emailAddressSuccessMessage && !emailAddressErrorMessage">&#x2713 {{ emailAddressSuccessMessage }}</small>
		<!-- ERROR MESSAGES -->
		<small class="error-messages" ng-show="emailAddressErrorMessage && !emailAddressSuccessMessage">&#x2718 {{ emailAddressErrorMessage }}</small>
		<div class="error-messages" ng-show="email_form.emailAddress.$dirty && email_form.emailAddress.$invalid && email_form.submitted">
		    <small ng-show="email_form.emailAddress.$error.required">&#x2718 Your email address is required</small>
		    <small ng-show="email_form.emailAddress.$error.email">&#x2718 Your email address has to be a valid one</small>
		</div>
		<!-- EMAIL ADDRESS INPUT -->
		<input class="form-input" name="emailAddress" type="email" placeholder="Your Email Address" required ng-model="password.emailAddress">
		
		<!-- FORM SUBMIT BUTTON -->
		<button class="button" type="submit" name="submit">GET PASSWORD</button>
	</form>

</section>