<section class="ng-view-section">

	<h1 class="center-text">Change Password</h1>
	
	<form class="forms" name="reset_form" novalidate ng-submit="passwordResetSubmit()">
		<small class="error-messages" ng-show="resetErrorMessage">&#x2718 {{ resetErrorMessage }}</small>
		<small class="success-messages" ng-show="resetSuccessMessage">&#x2713 {{ resetSuccessMessage }}</small>
		<input class="form-input" type="password" name="newPass" placeholder="New Password" required autocomplete="off" ng-model="password.newPass" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z0-9_]+$/">
			<div class="error-messages" ng-show="reset_form.newPass.$dirty && reset_form.newPass.$invalid && reset_form.submitted">
				<small ng-show="reset_form.newPass.$error.required">&#x2718 A Password is required</small>
				<small ng-show="reset_form.newPass.$error.minlength">&#x2718 The Password min character length is 2</small>
				<small ng-show="reset_form.newPass.$error.maxlength">&#x2718 The Password max character length is 20</small>
				<small ng-show="reset_form.newPass.$error.pattern">&#x2718 Use only A-Z/a-z & 0-9</small>
			</div>
		<input class="form-input" type="password" name="confirmPass" placeholder="Confirm Password" required autocomplete="off" ng-model="password.confirmPass" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z0-9_]+$/">
			<div class="error-messages" ng-show="reset_form.confirmPass.$dirty && reset_form.confirmPass.$invalid && reset_form.submitted">
				<small ng-show="reset_form.confirmPass.$error.required">&#x2718 A Password is required</small>
				<small ng-show="reset_form.confirmPass.$error.minlength">&#x2718 The Password min character length is 2</small>
				<small ng-show="reset_form.confirmPass.$error.maxlength">&#x2718 The Password max character length is 20</small>
				<small ng-show="reset_form.confirmPass.$error.pattern">&#x2718 Use only A-Z/a-z & 0-9</small>
			</div>
		<button class="button" type="submit" name="submit">UPDATE PASSWORD</button>
	</form>
	
</section>