<section class="ng-view-section">

	<h1>{{ passwordRetrieve }}</h1>

	<form class="forms" name="password_form" novalidate ng-submit="passwordSubmit()">

		{{ passwordErrorMessage }}

		<input class="form-input" type="text" name="username" placeholder="Your Username" required autocomplete="off" ng-model="password.username" ng-minlength=2 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/">
			<div class="error-messages" ng-show="password_form.username.$dirty && password_form.username.$invalid && password_form.submitted">
				<small ng-show="password_form.username.$error.required">Your username is required</small>
				<small ng-show="password_form.username.$error.minlength">Your username should be at least 2 characters</small>
				<small ng-show="password_form.username.$error.maxlength">Your username cannot exceed 20 characters</small>
				<small ng-show="password_form.username.$error.pattern">Use only A-Z/a-z 0-9</small>
			</div>

		<input class="form-input" name="email" type="email" placeholder="Your Email Address" required ng-model="password.email">
			<div class="error-messages" ng-show="password_form.email.$dirty && password_form.email.$invalid && password_form.submitted">
				<small ng-show="password_form.email.$error.required">Your email address is required</small>
				<small ng-show="password_form.email.$error.email">Your email address has to be a valid one</small>
			</div>

		<button class="button" type="submit" name="submit">GET PASSWORD</button>

	</form>

</section>
