<section class="ng-view-section">

	<h1 class="center-text">{{ chosen.fname }}</h1>
	
	<article class="profile-container">
		<section class="profile-left-container center-text">
			<img ng-src="{{ chosen.imgURL }}" width="120" height="120"/>
			<div class="profile-left-inner-row">
				{{ chosen.fname }} {{ chosen.sname }}
			</div>
			<div class="profile-left-inner-row">
				<button class="add-like" ng-click="addLike()"> Like </button>
			</div>
		</section
		><section class="profile-right-container">
			<div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="profile-right-inner-row">{{ chosen.username }}</div>
					<div class="profile-right-inner-row">{{ chosen.email }}</div>
					<div class="profile-right-inner-row">{{ chosen.web }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="likes center-text">{{ chosen.likes }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="likes center-text">{{ chosen.likes }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="likes center-text">{{ chosen.likes }}</div>
				</div>
			</div>
		</section>
	</article>
</section>