<section ng-show="showPage" class="ng-view-section">

	<h1 class="center-text">{{ profile.firstName }}'s Profile</h1>

	<article class="profile-container">
		<section class="profile-left-container center-text">
			<img ng-src="{{ profile.profileImage }}" width="120" height="120"/>
			<div class="profile-left-inner-row">{{ profile.firstName }} {{ profile.surname }}</div>
			<div class="profile-left-inner-row">
				<button class="add-like" ng-click="addLike()">Like</button>
			</div>
		</section
		><section class="profile-right-container">
			<div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="profile-right-inner-row">{{ profile.firstName }}</div>
					<div class="profile-right-inner-row">{{ profile.surname }}</div>
					<div class="profile-right-inner-row">{{ profile.emailAddress }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="profile-right-inner-row">{{ profile.profileInformation }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="likes center-text">{{ likes }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="likes center-text">{{ likes }}</div>
				</div>
			</div>
		</section>
	</article>
	
</section>