<section ng-show="showPage" class="ng-view-section">
	
	<!-- PAGE HEADING TEXT -->
	<h1 class="center-text">{{ profile.firstName }}'s Profile</h1>

	<article class="profile-container">
		<section class="profile-left-container center-text">
			<img ng-src="{{ profile.profileImage }}" width="120" height="120"/>
			<div class="profile-left-inner-row">{{ profile.firstName }} {{ profile.surname }}</div>
			<div class="profile-left-inner-row">
			</div>
		</section
		><section class="profile-right-container">
			<div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="profile-right-inner-row">{{ profile.firstName }} {{ profile.surname }}</div>
					<div class="profile-right-inner-row">{{ profile.emailAddress }}</div>
					<div class="profile-right-inner-row"><a href="{{ profile.websiteURL }}" target="_blank">{{ profile.websiteURL }}</a></div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
					<div class="profile-right-inner-row">About Me</div>
					<div class="profile-right-inner-row">{{ profile.profileDescription }}</div>
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
				</div>
			</div
			><div class="right-container-boxes">
				<div class="right-container-boxes-inner">
				</div>
			</div>
		</section>
	</article>
	
</section>