<section ng-show="showPage" class="ng-view-section">
	
	<!-- PAGE HEADING TEXT -->
	<h1 class="center-text">The Team</h1>
		
	<!-- FILTER NAVIGATION OF THE CURRENT MEMEBRS LIST -->	
	<nav>
		<ul class="center-text" ng-show="!loading">
			<li class="main-nav-li"><a href="" ng-click="sortField = 'username'; reverse = !reverse">Username</a></li>
			<li class="main-nav-li"><a href="" ng-click="sortField = 'type'; reverse = !reverse">Type</a></li>
		</ul>
	</nav>
	
	<!-- INPUT TEXT FIELD TO FILTER THE CURRENT MEMBERS LIST -->
	<input class="form-input" type="text" name="searchMembers" placeholder="Type to filter members" ng-model="search.members.name" ng-minlength=2 ng-maxlength=20 ng-show="!loading">
	
	<!-- LOADING ICON -->
	<div class="loader" ng-show="loading">
		<div class="progress"></div>
	</div>
	
	<!-- CURRENT MEMEBRS LIST -->
	<ul>
		<li class="current-members-li" ng-repeat="member in members | filter:search.members.name | orderBy:sortField:reverse">
			<a href="#/profile" ng-click="clickedMember(member)">
				<img ng-src="{{ member.profileImage }}" width="200"/>
				<div class="center-text">{{ member.firstName }}</div>
			</a>
		</li>
	</ul>

</section>
