<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<title>Angular Tasks</title>
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<link href="css/media-queries.css" type="text/css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container" ng-app="loginApp">
		
		<nav class="main-nav" ng-controller="MainController">
			<ul class="main-nav-ul center-text">
				<li ng-show="loggedOut" class="main-nav-li"><a href="#/login">Login</a></li>
				<li ng-show="loggedOut" ng-click="reg()" class="main-nav-li"><a href="#/register">Register</a></li>
				<li ng-show="loggedIn" class="main-nav-li"><a href="#/welcome">The Team</a></li>
				<li ng-show="loggedIn" class="main-nav-li" id="toggle-nav"><a href="">{{ welcome.fname }} {{ welcome.sname }} &#x25BE</a>
					<ul id="drop-nav" class="main-nav-li-drop center-text">
						<li ng-show="loggedIn" ng-click="userProfile()" class="main-nav-li"><a href="#/profile">{{ welcome.fname }}'s Profile</a></li>
						<li ng-show="loggedIn" class="main-nav-li"><a href="#/settings">Account Settings</a></li>
						<li ng-show="loggedIn" class="main-nav-li"><a href="#/edit">Edit Profile</a></li>
						<li ng-show="loggedIn" ng-click="logOut()" class="main-nav-li"><a href="#/login">Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		
		<div ng-view></div>
	
	</div>
	
	<script src="js/libs/angular.js"></script>
	<script src="js/libs/angular-route.js"></script>
	<script src="js/libs/angular-resource.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/config.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/libs/jquery-1.11.1.js"></script>
	<script src="js/nav-toggle.js"></script>
	<!--[if lte IE 7]>
		<script src="js/libs/json2.js"></script>
	<![endif]-->
</body>

</html>