<!DOCTYPE html>
<html>
<head>
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<link href="css/media-queries.css" type="text/css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	
	<script src="js/libs/angular.js"></script>
	<script src="js/libs/angular-route.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/config.js"></script>
	<script src="js/factories.js"></script>
	<!--[if lte IE 7]>
		<script src="js/libs/json2.js"></script>
	<![endif]-->
	
	<meta charset="ISO-8859-1">
	<title>Login</title>
</head>
<body>
<section class="ng-view-section">

	<h1>Login</h1>
	
	<form class="forms" name="login_form" novalidate action="/login" method="post">
		
		{{ loginError }}
		
		<input class="form-input" type="text" name="username" placeholder="Enter Username" required autocomplete="off" ng-model="login.username" ng-minlength=2 ng-maxlength=20>
			<div class="error-messages" ng-show="login_form.username.$dirty && login_form.username.$invalid && login_form.submitted">
				<small ng-show="login_form.username.$error.required">
					A username is required
				</small>
				<small ng-show="login_form.username.$error.minlength">
					The username min character length is 2
				</small>
				<small ng-show="login_form.username.$error.maxlength">
					The username max character length is 20
				</small>
			</div>
			
		<input class="form-input" type="password" name="password" placeholder="Enter Password" required ng-model="login.password" ng-minlength=2 ng-maxlength=20>
			<div class="error-messages" ng-show="login_form.password.$dirty && login_form.password.$invalid && login_form.submitted">
				<small ng-show="login_form.password.$error.required">
					A password is required
				</small>
				<small ng-show="login_form.password.$error.minlength">
					The password min character length is 2
				</small>
				<small ng-show="login_form.password.$error.maxlength">
					The password max character length is 20
				</small>
			</div>
		
		<button class="button" type="submit" name="submit">LOGIN</button>
		
	</form>

</section>

</body>
</html>